.container {
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
  .card {
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10vh;
    text-align: justify;
  }
}

.image {
  width: 70%;
  height: 60vh;
  &:hover {
    // width: 72%;
  }
}

@media screen and (max-width: 780px) {
  .container {
    .card {
      grid-template-columns: 1fr;
    }
    // width: 100%;
  }
}
